html {
    padding:0px;
    margin:0px;
}

body {
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;
    padding:0px;
    margin:0px;
}

#right-container {
    margin: 0px 190px 0px 190px;
    border-left: 2px solid #564b47;
    border-right: 2px solid #564b47;
    padding: 0px;
    background-color: #ffffff;
}

#right-container {
    position: absolute;
    left: 0px;
    width: 190px;
    color: #564b47;
    margin: 0px;
    padding: 0px;
}