body {
    padding:10px;
}

#left-container-csc {
    border-left: 2px solid #564b47;
    border-right: 2px solid #564b47;
    width: 200px;
    color: #564b47;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
}

#right-container-csc {
    display: inline-block;
    max-height: 400px;
    width: 80%;
}

.list-header-csc {
    font-weight: bold;
    font-size: 17px;
    padding-left: 7px;
}

.ws-reconnect-csc,
.list-expand-csc {
    margin-left: 10px;
    padding: 2px;
}

.ws-state-csc .label {
    margin-left: 10px;
}

.item-csc:after{
    content: "result";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.req-item-csc:after {
    content: "Requests";
}

.graph-item-csc img {
    width: 100%;
}

.graph-item-csc:after {
    content: "Graph";
}
.status-csc {
    position: relative;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #564b47;
    padding: 0px 6px;
    width: 300px;
    margin-left: 10px;
}

.status-close-csc {
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
    width: 26px !important;
    height: 26px;
    padding: 6px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}

.status-close-csc:hover {
    background: #ffdad8;
}

.item-csc {
    position: relative;
    margin: 10px 0;
    padding: 39px 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.req-item-csc {
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 400px;
    height: 400px;
}

.row-csc {
    margin-left: 0;
}

.req-line-csc {
    padding: 5px;
    min-width: 300px;
    background: #eaffeb;
    white-space: nowrap;
    display: inline-block;
}

.req-line-csc.even-csc {
    background: #c9ffb8;
}

.domain-label-opened-csc {
    margin-right: 5px;
}

.domain-csc a {
    padding: 5px 0 4px 10px !important;
}

.status-title-csc {
    font-size: 20px;
    font-weight: bold;
    padding: 6px 0px 0px 1px;
}

.status-datetime-csc {
    font-size: 12px;
    margin: 18px 0px 0px 2px;
}

.status-datetime-icon-csc {
    font-size: 13px;
}

.status-hr-csc {
    position: absolute;
    top: 40px;
    left: 0;
    border-top: 2px solid;
    padding-right: 298px;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.line-access {
    stroke: #d88;
}

.line-size {
    stroke: #8d8;
}

.line-time {
    stroke: #88d;
}

.graph-bg {
    fill: #112;
}
