<div id="container-csc">
    <span id="left-container-csc">
        <ul class="nav nav-pills nav-stacked">
            <li class="list-header-csc">Connection
            </li>
            <li class="ws-state-csc">
                <span class="ws-state-connect-csc label label-success" style="display: none;">Connect</span>
                <span class="ws-state-disconnect-csc label label-danger" style="display: none;">Disconnect</span>
                <button type="button" class="ws-reconnect-csc btn btn-default navbar-btn">reconnect</button>
            </li>
            <li class="list-header-csc">Challengers</li>
            <li>
                <button type="button" class="list-expand-csc btn btn-default navbar-btn">expand all</button>
                <button type="button" class="auto-expand-csc btn btn-default">auto expand</button>
            </li>
            <% for( var i in users ) {　%>
            <li id="list-<%= users[i].domain %>-csc" class="domain-csc" data-domain="<%= users[i].domain %>">
                <a href="#">
                    <span class="domain-label-opened-csc label label-info" style="display: none;">Opened</span>
                    <span class="domain-label-update-csc label label-warning" style="display: none;">Update</span>
                    <%= users[i].domain %>
                    </a>
            </li>
            <% } %>
        </ul>
    </span>
    <span id="right-container-csc">

    </span>
</div>
