<div class="container-csc container-fluid">
  <div class="row-fluid">
      <div id="left-container" class="span2">
          <ul class="nav nav-list">
              <li class="nav-header">Challengers</li>
              <% for( var i in users ) {　%>
              <li><a href="#"><%= users[i].name %></a></li>
              <% } %>
          </ul>
      </div>
      <div id="right-container" class="span9">

      </div>
  </div>
</div>