<div id="domain-<%= name %>-csc" class="status-csc span4">
    <div><%= name %></div>
    <div class="row row-csc">
    <div class="span12">
        <div class="item-csc req-item-csc">
        </div>
    </div>
    </div>
    <div class="row row-csc">
    <div class="span12">
        <div class="item-csc graph-item-csc">
            <img src="/images/dummy_graph.png"/>
        </div>
    </div>
    </div>
</div>