<div id="domain-<%= name %>-csc" class="status-csc">
    <div class="status-title-csc"><%= name %></div>
    <div class="status-datetime-csc">
        <span class="status-datetime-label-csc">Last updated:</span>
        <span class="status-datetime-value-csc"></span>
        <span class="status-datetime-icon-csc label label-warning" style="display: none;">Updated!</span>
    </div>
    <div class="row-csc">
        <div class=>
        <div class="item-csc req-item-csc">
            <div class="req-empty-csc"><h3>No requests.</h3></div>
        </div>
    </div>
    </div>
    <div class="row-csc">
        <div class=>
        <div class="item-csc graph-item-csc">
            <img src="/images/dummy_graph.png"/>
        </div>
    </div>
    </div>
</div>