<div id="domain-<%= name %>-csc" class="status-csc">
    <div><%= name %></div>
    <div class="row-csc">
        <div class=>
        <div class="item-csc req-item-csc">
            <div class="req-empty-csc"><h3>No requests.</h3></div>
        </div>
    </div>
    </div>
    <div class="row-csc">
        <div class=>
        <div class="item-csc graph-item-csc">
            <img src="/images/dummy_graph.png"/>
        </div>
    </div>
    </div>
</div>