<div id="domain-<%= name %>-csc" class="status-csc span12">
    <div><%= name %></div>
    <div class="span7">
        <div class="item-csc req-item-csc">
        </div>
    </div>
    <div class="span4">
        <div class="item-csc graph-item-csc">
            <img src="/images/dummy_graph.png"/>
        </div>
    </div>
</div>